/////
/// @author Tyler Benton
/// @description
/// This is a file-level multi-line comment.
/////

/// @name main
/// @description
/// main method

a = 0
b = 1

!a and !b

/// @name Somethin
/// @description
/// This is a normal multi-line comment.

add(a, b)
  a + b
body
  padding add(10px, 5)

/// @name Something else
/// @description
/// This is another normal multi-line comment.

 add(a, b)
   if a is a 'unit' and b is a 'unit'
     a + b
   else
     (error 'a and b must be units!')

// This is a normal single-line comment.